@use 'reset';
@use 'colors';
@use 'media/media';
@use 'variables/global';
@use 'themes/normal';
@use 'themes/dark';

.app {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background: var(--color-chinese-black);
    color: var(--primary-color);
    font: var(--font-m);
}

/* Стилизация ползунка скроллбара */
::-webkit-scrollbar-thumb {
    border-radius: 4px;

    background-color: darkgrey;
}

/* Стилизация дорожки скроллбара */
::-webkit-scrollbar-track {
    background: var(--black-opacity-5);
}

/* Установка ширины скроллбара */
::-webkit-scrollbar {
    width: 6px;
}
