@use 'reset';
@use 'colors';
@use 'media/media';
@use 'variables/global';
@use 'font';

.app {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background: var(--color-chinese-black);
    color: var(--color-white);
    font: var(--font-m);
}

/* Стилизация ползунка скроллбара */
::-webkit-scrollbar-thumb {
    border-radius: 4px;

    background: var(--color-white-opacity-95);
}

/* Стилизация дорожки скроллбара */
::-webkit-scrollbar-track {
    background: var(--color-chinese-black);
}

/* Установка ширины скроллбара */
::-webkit-scrollbar {
    width: 6px;
}
