:root {
    // Размеры
    --navbar-height: 70px;

    // Z-индексы
    --background-index: 0;
    --filter-layer-index: 1;
    --main-content-index: 5;
    --sticky-header-index: 10;
    --modal-index: 999;
}
