@use '/src/app/styles/media/media';

.title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;

    @include media.mediaS {
        font-size: 32px;
        line-height: 40px;
    }

    @include media.mediaL {
        font-size: 40px;
    }
}

.paragraph {
    font-size: 12px;
    line-height: 18px;

    @include media.mediaS {
        font-size: 14px;
        line-height: 24px;
    }

    @include media.mediaL {
        font-size: 18px;
        line-height: 30px;
    }
}

.subHeader {
    font-weight: 600;
}
