@import '/src/app/styles/media/media.scss';

.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;

    @include mediaM {
        gap: 20px;
    }
}

.tab {
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        color: var(--black-opacity-50);
    }

    &.active {
        color: var(--color-strict-blue);
        text-decoration: underline 2px var(--color-strict-blue);
    }
}
