.tableRow {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 80px;
    gap: 10px;

    padding: 4px;

    border: 1px solid lightgray;
    border-bottom: none;

    &.roundedTop {
        border-radius: 4px 4px 0 0;
    }

    &.roundedBottom {
        border-bottom: 1px solid lightgray;
        border-radius: 0 0 4px 4px;
    }
}

.cell,
.bold {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.error {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: orangered;
}
