@import '/src/app/styles/media/media.scss';

:root {
    --modal-content-padding-top: 0;

    @include mediaS {
        --modal-content-padding-top: 105px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--modal-index);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    background-color: rgba(255, 255, 255, 0.4);

    backdrop-filter: blur(8px);

    animation: fadeIn 0.3s;

    &.isClosing {
        animation: fadeOut 0.4s;
    }

    @include mediaS {
        padding: 0 28px;
    }

    @include mediaM {
        padding: 0;
    }
}

.close {
    position: absolute;
    top: -30px;
    right: -30px;
    z-index: var(--modal-index);

    width: 16px;
    height: 16px;
    padding: 9px;

    background-image: url('shared/assets/closeIcon.svg');
    cursor: pointer;
    filter: invert(0);

    &.fixedClose {
        position: fixed;
        top: 10px;
        right: 10px;

        @include mediaS {
            position: absolute;
            top: -30px;
            right: -30px;
        }
    }
}

.modalContent {
    position: relative;

    display: flex;

    padding-bottom: 24px;
}
