@import '/src/app/styles/media/media.scss';

.wrapper {
    flex-grow: 1;
}

.section {
    @include mediaS {
        padding: 0;
    }
}

.cardsWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    @include mediaS {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @include mediaM {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
