@import '/src/app/styles/media/media.scss';

.backgroundWrapper {
    position: sticky;
    top: 0;
    background: white;
    z-index: var(--sticky-header-index);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--color-dark-green-50);
        z-index: var(--filter-layer-index);
    }
}

.section {
    position: relative;
    z-index: var(--main-content-index);

    @include mediaS {
        padding: 0;
        max-width: calc(100% - 30px);
    }

    @include mediaM {
        max-width: 960px;
    }
}

.innerRowWrapper {
    padding: 5px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 60px;
    height: 100%;

    @include mediaS {
        max-width: 80px;
    }

    @include mediaL {
        max-width: 90px;
    }
}

.rightBlock {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
