@import '/src/app/styles/media/media.scss';

.backgroundWrapper {
    position: relative;
    background-image: url('./images/brightGrassTextureExtended.png');
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    object-fit: fill;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(88, 64, 48, 0);
        z-index: 1;
    }
}

.wrapper {
    padding: 5px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include mediaS {
        justify-content: flex-start;
    }
}

.logo {
    z-index: 9;
    max-width: 150px;
    height: 100%;

    @include mediaS {
        max-width: 170px;
    }

    @include mediaL {
        max-width: 190px;
    }
}

@keyframes zoomEffect {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
