@use '/src/app/styles/media/media';

.header,
.button,
.logoutButton {
    font-family: var(--font-family-main);
}

.header {
    font-weight: 900;

    font-size: 24px;
    line-height: 24px;

    @include media.mediaS {
        font-size: 48px;
        line-height: 48px;
    }
}

.buyBlockWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.playerNameLogoutWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: center;
    justify-content: center;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;

    padding: 17px 10px !important;

    background-color: var(--color-vivid-malachite) !important;
}

.playerNameSpan {
    font-weight: 600;
}

.logoutButton {
    padding: 17px 10px !important;

    background-color: orangered;
}

.playerInfoBlock {
    padding: 10px;

    border-radius: 10px;

    background: var(--black-opacity-20);

    & * {
        font-family: var(--font-family-main);
    }
}

.errorSpan {
    font-family: var(--font-family-main);

    color: orangered;
}
