@import '/src/app/styles/media/media.scss';

.header,
.table,
.button,
.emptyListSubheader,
.emptyListDescription,
.logoutButton {
    font-family: var(--font-family-main);
}

.emptyListImageBLock {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.chestImage {
    max-width: 200px;

    border-radius: 10px;

    @include mediaS {
        max-width: 300px;
    }
}

.button {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;

    padding: 17px 10px !important;

    background-color: var(--color-vivid-malachite) !important;
}
