@import '/src/app/styles/media/media.scss';

.wrapper,
.runnerWrapper,
.serverIsDown {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    height: 96px;
    padding: 8px 12px;

    border-radius: 10px;

    background: var(--color-white-opacity-95);
}

.runnerWrapper {
    padding: 0;
}

.onlineSubheader {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.serverIsDown {
    text-align: center;

    color: orangered;
}
