@use '/src/app/styles/media/media.scss';

.button {
    border-radius: 51px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.cartWrapper {
}

.cartImage {
}

.cartLabel {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
