.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;

    &.error {
        border: 1px solid orangered;

        .message {
            color: orangered;
        }
    }

    &.success {
        border: 1px solid var(--color-vivid-malachite);

        .message {
            color: var(--color-vivid-malachite);
        }
    }
}

.message {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
}
