@import '/src/app/styles/media/media.scss';

.table,
.button {
    font-family: var(--font-family-main);
}

.table {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.rowWrapper {
    display: grid;
    grid-template-columns: 1fr 20px;
    gap: 4px;
    align-items: center;

    width: 100%;

    @include mediaS {
        gap: 10px;
    }
}

.productRow {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 35px 44px 80px;
    gap: 10px;

    padding: 4px;

    border: 1px solid lightgray;
    border-bottom: none;

    &.roundedTop {
        border-radius: 4px 4px 0 0;
    }

    &.roundedBottom {
        border-bottom: 1px solid lightgray;
        border-radius: 0 0 4px 4px;
    }

    @include mediaS {
        grid-template-columns: 1fr 50px 44px 80px;
    }
}

.cell {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bold {
    font-weight: 600;
}

.incrementButton,
.decrementButton,
.deleteButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-width: 20px;
    height: 20px;

    border: none;
    border-radius: 4px;

    color: var(--color-white);
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        filter: brightness(0.8);
    }
}

.decrementButton,
.deleteButton {
    background: red;
}

.incrementButton {
    background-color: var(--color-vivid-malachite);
}

.totalListPrice {
    text-align: right;
}

.totalListPriceDescription {
    font-weight: 800;
}
