@import '/src/app/styles/media/media.scss';

.navBar {
    padding: 15px;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14px;

    background: var(--black-opacity-30);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.05);

    @include mediaM {
        gap: 40px;
    }
}

.linkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;

    @include mediaM {
        gap: 8px;
    }
}

.icon {
    max-height: 20px;

    @include mediaM {
        max-height: 30px;
    }
}

.link {
    text-decoration: none;
    font-weight: 800;
    color: var(--color-white);
    font-size: 14px;

    transition: 0.3s;

    &:hover {
        color: var(--secondary-color);
    }

    @include mediaM {
        font-size: 16px;
    }
}
