@import '/src/app/styles/media/media.scss';

.checkboxContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 8px;
}

.table {
    overflow: scroll;

    @include mediaM {
        overflow: hidden;
    }
}

.actionsWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.actionIcon {
    cursor: pointer;
    font-size: 22px;
}

.id {
    font-size: 14px;
    line-height: 14px;
}
