// region эти же значения указаны в constants/enums/Media.ts;

// от 320 px до 739 px
$mediaXS: 739px;
// от 740 px до 1023 px
$mediaS: 740px;
// от 1024 px до 1439 px
$mediaM: 1024px;
// 1440 px+
$mediaL: 1440px;

@mixin mediaXS {
  @media (max-width: $mediaXS) {
    @content;
  }
}

@mixin mediaS {
  @media (min-width: $mediaS) {
    @content;
  }
}

@mixin mediaM {
  @media (min-width: $mediaM) {
    @content;
  }
}

@mixin mediaL {
  @media (min-width: $mediaL) {
    @content;
  }
}

@mixin realHover($placeholder: "") {
  @media (hover: hover) {
    &:hover#{$placeholder} {
      @content;
    }
  }
}
