@use 'app/styles/media/media';

.section {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

    @include media.mediaS {
        max-width: 640px;
    }

    @include media.mediaM {
        max-width: 960px;
    }
}
