@use '/src/app/styles/media/media.scss';

// radial-gradient(
//            circle at top left,
//            rgba(50, 80, 100, 0.6) 1%,
//            rgba(30, 60, 50, 0.3) 40%,
//            rgba(10, 20, 10, 0.9) 80%,
//            black 100%
//        ),

.card {
    background: radial-gradient(circle at bottom center, rgba(200, 255, 75, 0.5) 30%, black 60%);

    border-radius: 24px;

    @include media.mediaL {
        border-radius: 42px;
    }
}

.innerWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media.mediaS {
        flex-direction: row;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
    }
}

.header,
.subHeader,
.enterProposal {
    color: var(--color-white);
    line-height: 100%;

    @media (max-width: 544px) {
        text-shadow:
            1px 1px 2px black,
            1px 0 2px black,
            0 1px 2px black,
            -1px -1px 2px black,
            -1px 0px 2px black,
            0 -1px 2px black;
    }
}

.header {
    font-size: 32px;

    @include media.mediaS {
        font-size: 42px;
    }

    @include media.mediaL {
        font-size: 52px;
    }
}

.subHeader {
    font-size: 20px;

    @include media.mediaS {
        font-size: 26px;
    }

    @include media.mediaL {
        font-size: 32px;
    }
}

.enterProposal {
    font-weight: 400;
}

.firstBlock,
.secondBlock {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    @include media.mediaS {
        min-height: 180px;
    }
}

.secondBlock {
    gap: 10px;

    max-width: 320px;

    @include media.mediaS {
        width: 240px;
    }

    @include media.mediaM {
        width: 400px;
    }
}
