@use '/src/app/styles/media/media.scss';

.card {
    position: relative;
    background: radial-gradient(circle at 40% 140%, rgba(170, 255, 120, 0.3) 2%, rgba(0, 0, 0, 0.2) 55%),
        radial-gradient(circle at 0% 20%, rgba(15, 40, 48, 0.8) 8%, rgba(0, 0, 0, 0.2) 38%),
        radial-gradient(circle at right bottom, rgb(15, 46, 53) 2%, rgba(0, 0, 0, 0) 16%);

    border-radius: 24px;

    @include media.mediaL {
        border-radius: 42px;
    }
}

.cubes {
    position: absolute;
    max-width: 64vw;
    top: -80px;
    right: -5%;
}

.innerWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include media.mediaS {
        flex-direction: row;
        gap: 40px;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.header,
.subHeader,
.enterProposal {
    color: var(--color-white);
    line-height: 100%;

    @media (max-width: 544px) {
        text-shadow:
            1px 1px 2px black,
            1px 0 2px black,
            0 1px 2px black,
            -1px -1px 2px black,
            -1px 0px 2px black,
            0 -1px 2px black;
    }
}

.header {
    font-size: 32px;

    @include media.mediaS {
        font-size: 42px;
    }

    @include media.mediaL {
        font-size: 52px;
    }
}

.subHeader {
    font-size: 20px;

    @include media.mediaS {
        font-size: 26px;
    }

    @include media.mediaL {
        font-size: 32px;
    }
}

.enterProposal {
    font-weight: 400;
}

.firstBlock,
.secondBlock {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    @include media.mediaS {
        min-height: 180px;
    }
}

.secondBlock {
    gap: 10px;

    max-width: 320px;

    @include media.mediaS {
        width: 240px;
    }

    @include media.mediaM {
        width: 400px;
    }
}
