@import '/src/app/styles/media/media';

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutFromRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.navBar {
    padding: 15px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 14px;

    background: var(--black-opacity-50);
    box-shadow: 0 10px 50px var(--black-opacity-5);

    animation: slideInFromLeft 0.5s ease forwards;

    &.isClosing {
        animation: slideOutFromRight 0.3s ease forwards;
    }

    @include mediaS {
        flex-direction: row;
        flex-wrap: nowrap;
        background: var(--black-opacity-30);
    }

    @include mediaM {
        gap: 40px;
    }
}

.linkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;

    @include mediaM {
        gap: 8px;
    }
}

.iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40px;

    @include mediaS {
        width: unset;
    }
}

.icon {
    max-height: 30px;

    @include mediaS {
        max-height: 20px;
    }

    @include mediaM {
        max-height: 30px;
    }
}

.link {
    text-decoration: none;
    font-weight: 800;
    color: var(--color-white);
    font-size: 14px;
    font-family: var(--font-family-main);

    transition: 0.3s;

    &:hover {
        color: var(--secondary-color);
    }

    @include mediaM {
        font-size: 16px;
    }
}
